<% flash.each do |f, m| %>
    <div class="alert alert-<%= devise_type(f) %> alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>

      <%= m %>
    </div>
<% end %>